@model Kramer.Models.UserRequestFormViewModel

<div class="form-horizontal">
    <h4>Solicitação de Usuário</h4>
    <hr />
    <div class="form-group">
        <label for="Email" class="control-label col-md-2">E-mail</label>
        <div class="col-md-10">
            <input type="text" name="Email" class="form-control" value="@Model.Email" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Username" class="control-label col-md-2">Nome</label>
        <div class="col-md-10">
            <input type="text" name="Name" class="form-control" value="@Model.Name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Usertype" class="control-label col-md-2">Tipo de Usuário</label>
    @if (ViewBag.UserIsAdmin || ViewBag.UserCanRequestGm) {
        <div class="radio-inline">
            <label><input type="radio" class="" name="GlobalMaster" id="UsertypeGM" value="true" @(Model.GlobalMaster ? "checked" : "")/>Global Master</label>
        </div>
    }
        <div class="radio-inline">
            <label><input type="radio" class="" name="GlobalMaster" id="UsertypeST" value="false" @(!Model.GlobalMaster ? "checked" : "")/>Canal de Vendas</label>
        </div>
    </div>

    <div class="form-group">
        <label for="SaleType" class="control-label col-md-2">Canal de Vendas</label>
        <div class="col-md-10">
            <select id="saletypedrop" name="SaleType.Id" class="form-control dropdown col-md-offset" @(Model.GlobalMaster ? "disabled" : "") />
            @foreach (var saletype in Model.AvailableSaleTypes)
            {
                if (Model.SaleType == null)
                {
                    <option value="@saletype.Id">@saletype.Name</option>
                }
                else
                {
                    <option value="@saletype.Id"
                            @(saletype.Id == Model.SaleType.Id ? "selected" : "")>
                        @saletype.Name
                    </option>
                }
            }
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input 
                   type="submit" value="@(ViewBag.Action == "Create" ? "Solicitar Novo Usuário" : "Salvar Alterações")" class="btn btn-default" />
        </div>
    </div>
</div>



