@model Kramer.Models.UserRequestChangeStatusViewModel
@{
    ViewBag.Title = "Atualizar Status";
}

<h2>Atualizar Status de: @Model.Email</h2>

@using(@Html.BeginForm())
{
	<div class="form-horizontal">
	   	<input type="hidden" name="Email" value=@Model.Email>
	   	<input type="hidden" name="Id" value=@Model.Id>

        <div class="form-group">
            <label for="Username" class="control-label col-md-2">Nome do Usuário: </label>
            <div class="col-md-10">
                <input type="text" name="Username" class="form-control" value="@Model.Username">
            </div>
        </div>

	   	<div class="form-group">
	   		<label for="Password" class="control-label col-md-2">Senha: </label>
	   		<div class="col-md-10">
	   			<input type="text" class="form-control" name="Password">
			</div>
	   	</div>

        <div class="form-group">
            <label for="Status" class="control-label col-md-2">Status: </label>
            <div class="col-md-10">
                <select name="Status.Id" class="form-control dropdown">
                    @foreach (var status in Model.Statuses)
                    {
                        if (Model.Status == null)
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                        else
                        {
                            <option value="@status.Id"
                                    @(status.Id == Model.Status.Id ? "selected" : "")>
                                @status.Name
                            </option>
                        }
                    }
                </select>
            </div>
        </div>

	   	<div class="form-group">
	   		<div class="col-md-offset-2 col-md-10">
	   			<input type="submit" value="Change Status" class="btn btn-default">
			</div>
	   	</div>
   	</div>
}
