@model IEnumerable<Kramer.Infra.UserRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            E-mail
        </th>
        <th>
            Canal de Vendas
        </th>
        <th>
            Nome do Usuário
        </th>
        <th>
            Pendente
        </th>
        <th>
            Solicitante
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(_ => item.Email)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Role)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Username)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Pending)
        </td>
        <td>
            @Html.DisplayFor(_ => item.RequestedBy.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Change Status", "ChangeStatus", new { id=item.Id})
        </td>
    </tr>
}

</table>
