@model IEnumerable<Kramer.Domain.UserRequest>

@{
    ViewBag.Title = "Lista de solicitações";
}

<h2>Solicitações</h2>

<p>
    @Html.ActionLink("Criar nova solicitação", "Create")
</p>
<p>
    @*@if (ViewBag.UserIsAdmin)
    {
        @Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    }*@
</p>
<table class="table pagination js-datatable">
    <thead>
    <tr>
        <th>
            E-mail
        </th>
        <th>
            Canal de vendas
        </th>
        <th>
            Global Master
        </th>
        <th>
            Nome
        </th>
        <th>
            Status
        </th>
        <th>
            Nome do usuário
        </th>
        <th>
            Solicitante
        </th>
        <th>
            Data da solicitação
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.OrderByDescending(_ => _.RequestDate))
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.SaleType.Name)
                </td>
                <td>
                    @(item.GlobalMaster ? "SIM" : "NÃO")
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.RequestedBy.Email)
                </td>
                <td>
                    @item.RequestDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @if (ViewBag.UserIsAdmin)
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Atualizar status", "ChangeStatus", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            var REQUEST_DATE = 7;

            $(".js-datatable").DataTable({
                columnDefs: [
                    { type: 'date-uk', targets: 0 }
                ],
                //"order": [[REQUEST_DATE, "desc"]],
                language:
                    { url: "/Scripts/Portuguese-Brasil.json"}
            });

            

        });
    </script>
}
