@model IEnumerable<Kramer.Domain.UserRequest>

@{
    ViewBag.Title = "Listagem de Solicitações";
}

<h2>Solicitações de Usuários</h2>

<p>
    @Html.ActionLink("Criar Nova Solicitação", "Create")
</p>
<table class="table pagination js-datatable">
    <thead>
    <tr>
        <th>
            E-mail
        </th>
        <th>
            Canal de Vendas
        </th>
        <th>
            Global Master
        </th>
        <th>
            Nome
        </th>
        <th>
            Status
        </th>
        <th>
            Nome do Usuário
        </th>
        <th>
            Solicitante
        </th>
        <th>
            Data da Solicitação
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.SaleType.Name)
                </td>
                <td>
                    @(item.GlobalMaster ? "SIM" : "NÃO")
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.RequestedBy.Email)
                </td>
                <td>
                    @item.RequestDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @if (ViewBag.UserIsAdmin)
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Atualizar Status", "ChangeStatus", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function() {
            $(".js-datatable").DataTable();
        });
    </script>
}
