@model IEnumerable<Kramer.Domain.UserRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Nova Solicitação", "Create")
</p>
<table class="table pagination">
    <tr>
        <th>
            E-mail
        </th>
        <th>
            Canal de Vendas
        </th>
        <th>
            Nome
        </th>
        <th>
            Status
        </th> 
        <th>
            Nome do Usuário
        </th>
        <th>
            Solicitante
        </th>
        <th>
            Data da Solicitação
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(_ => item.Email)
        </td>
        <td>
            @Html.DisplayFor(_ => item.SaleType.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Username)
        </td>
        <td>
            @Html.DisplayFor(_ => item.RequestedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(_ => item.RequestDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) 
            @if (ViewBag.UserIsAdmin)
            {   @Html.Raw(" | ")
                @Html.ActionLink("Change Status", "ChangeStatus", new {id = item.Id})
            }
        </td>
    </tr>
}

</table>
