@model IEnumerable<Kramer.Domain.UserRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            E-mail
        </th>
        <th>
            Sale Type
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            User Name
        </th>
        <th>
            Requester
        </th>
        <th>
            Request Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(_ => item.Email)
        </td>
        <td>
            @Html.DisplayFor(_ => item.SaleType.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(_ => item.Username)
        </td>
        <td>
            @Html.DisplayFor(_ => item.RequestedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(_ => item.RequestDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Change Status", "ChangeStatus", new { id=item.Id})
        </td>
    </tr>
}

</table>
@section Scripts {
    <script>

	    function StatusColor() {
		    var status = $(".status").val();
		    if (status == "PENDENTE")
		    {
			    status.fontcolor("#e6b800");
		    }
		    else if(status == "CONCLUIDO")
		    {
			    status.fontcolor("#009933");
		    }
		    else{
			    status.fontcolor("#cc0000")
		    }
	    }
    </script>
}